@media all and ( min-width: 1050px) {
    * {
        padding: 0;
        margin: 0;
    }

    .fas, .fab{
        font-size: 2em;
    }
    
    
    /* =================HEADER================ */
    #header_menu {
        padding-top: 1%;
        padding-bottom: 1%;
        width: 100%;
    }
    #titre_header {
        font-size: 1.25em;
    }
    #menu_burger {
        visibility: hidden;
    }
    #nav_burger {
        margin-right: 0;
        visibility: initial;
        background-color: inherit;
    }
    /* ----------NAVIGATION */
    #list_header {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        padding-top: 0.1%;
    }
    .li_header {
        padding: 0;
        font-size: 1em;
        margin-left: 1.5%;
        margin-right: 1.5%;
    }
    .li_header:hover {
        text-decoration: underline;
        text-decoration-color: white;
    }
    .liens_header {
        color: white;
    }
    /* ====================SECTION HOME================= */
    #div_section_entete {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #div_liens_reseaux {
        padding-top: 0%;
    }
    
    #h2_section_entete{
        font-size: 12em;
        margin-bottom: 0;
    }

    #p_section_entete{
        font-size: 3em;
        margin-top: 0;
    }

    .icones_reseaux{
        width: 8%;
    }
    /* ==================SECTION ABOUT ME============== */
    #section_about {
        display: flex;
        flex-direction: row;
        padding-left: 5%;
        padding-right: 5%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    #div_section_about {
        padding: 0;
        margin-top: 2%;
    }
    #img_section_about {
        width: 500px;
    }
    #p_about {
        font-size: 1em;
    }
    #div_barre_de_progression {
        padding-top: 0;
        padding-bottom: 4%;
    }
    .barre_container {
        height: 20%;
        border-radius: 10px;
    }
    .barre_fond {
        height: 100%;
        border-radius: 10px;
    }
    #bouton_cv{
        width: 150px;
        height: 50px;
    }

    #bouton_cv:hover{
        transition: 0.5s;
    }

    #bouton_about_contact{
        width: 150px;
        height: 50px;
    }

    #bouton_about_contact:hover{
        transition: 0.5s;
    }

    #div_bouton_about {
        padding-top: 9%;
    }
    
    /* ==================SECTION SERVICE============== */
    #section_services {
        padding-bottom: 10%;
    }
    #container_services {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }
    #titre_services {
        padding-top: 10%;
        padding-bottom: 5%;
        font-size: 2.5em;
    }
    /* DIV SERVICES */
    .div_services {
        width: 40%;
        padding-bottom: 1%;
        padding-top: 1%;
    }
    .cercle_service {
        width: 20%;
    }
    .sous_titre_services {
        font-size: 1em;
    }
    .p_services {
        font-size: 0.9em;
    }
    /* =================SECTION PORTFOLIO================ */
    #section_portfolio {
        padding-bottom: 10%;
        margin-bottom: 0%;
    }
    #titre_portfolio {
        padding-top: 10%;
        padding-bottom: 5%;
        font-size: 2.5em;
    }
    #list_portfolio {
        padding-bottom: 0%;
    }

    .li_portfolio{
        font-size: 1.2em;
    }

    #div_img_portfolio {
        margin-left: 5%;
        margin-right: 5%;
        padding-top: 5%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    .container_img_portfolio {
        padding-left: 2.5%;
        padding-right: 2.5%;
        padding-top: 2.5%;
    }

    .cercle_portfolio{
        width: 15%;
        height: 100%;
    }
    /* ================SECTION TESTIMONIALS============= */
    #section_testimonials {
        padding-bottom: 5%;
    }
    #titre_testimonials {
        padding-top: 10%;
        padding-bottom: 5%;
        font-size: 2.5em;
    }
    .div_testimonials {
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 5%;
    }
    
    .p_testimonials {
        padding-top: 2.5%;
        padding-bottom: 2.5%;
        font-size: 1em;
    }
    /* ===================SECTION INFO================= */
    #section_info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding-top: 5%;
        padding-bottom: 5%;
    }


    /* ===============SECTION OUR BLOG============= */
    #titre_ourblog {
        padding-top: 10%;
        padding-bottom: 10%;
        font-size: 2.5em;
    }
    #container_ourblog {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .div_ourblog {
        display: flex;
        flex-direction: column;
        width: 20%;
        height: 50%;
        margin-left: 1%;
        margin-right: 1%;
    }

    .img_ourblog{
        width: 100%;
        /* height: 100%; */
    }
    .sous_titre_div_ourblog, .titre_div_ourblog, .liens_div_ourblog {
        padding-left: 0;
    }
    #ul_puces_ourblog {
        padding-top: 5%;
        padding-bottom: 5%;
    }
    /* ===============SECTION CONTACT================ */
    #section_contact {
        padding-bottom: 10%;
    }
    #titre_contact {
        padding-top: 10%;
        padding-bottom: 10%;
    }
    #container_contact {
        width: 100%;
        padding-bottom: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .cercle_contact {
        width: 20%;
    }
    .div_contact {
        width: 100%;
    }
    #formulaire_contact {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    input {
        width: 40%;
        height: 30px;
        margin-right: 4.8%;
    }
    textarea {
        margin: 0;
        height: 200px;
    }
    #bouton_contact {
        margin-left: 4.9%;
        width: 10%;
        height: 50px;
    }
}